@import "../_variables";

@import "mixins";

/* @media (prefers-color-scheme: dark) {
  html {
    filter: invert(1) hue-rotate(180deg);
  }
  button {
    filter: invert(1) hue-rotate(180deg);
  }
} */
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  min-height: 100%;
  width: 90%;
  margin: 0 0 0 5px;

  &-link {
    color: #61dafb;
  }

  &.split-view.app-number-0 {
    max-width: 50%;
    padding-left: 20px;
    padding-right: 2px;
  }
  &.split-view.app-number-1 {
    max-width: 50%;
    padding-left: 2px;
    padding-right: 20px;
  }
  .order-heading {
    color: $primary-colour;
    background-color: $header;
    text-align: center;
    display: inline;
    margin: auto;
    padding: 5px;
    border-radius: 3px;
  }
  .input-and-discounts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    min-height: min-content;
    margin: auto;
  }

  .scroll-btn {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background: $darkBorder;
    color: $primary-colour;
    z-index: -100;
    opacity: 0;
    transition: all 0.3s linear;
    font-size: 15px;
    line-height: 0;
    padding: 5px 7px;
    cursor: pointer;
    @include font-size($p-font-sizes);

    border-radius: 10px;
  }
  .show-scroll-btn {
    z-index: 100;
    opacity: 1;
  }
}
