@import "../_variables";
@use 'mixins';

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  min-height: 100%;
  width: 90%;

  &-link {
    color: #61dafb;
  }
  &.split-view {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .input-and-discounts {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    justify-items: flex-start;
  }
}
