.add-discounts {
  background-color: rgba(241, 241, 241, 0.9);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  align-self: stretch;

  input {
    padding: auto;
    margin: auto auto 5px auto;
  }
}
