@import "../_variables";

footer {
  position: fixed;
  bottom: 0;
  align-self: center;
  margin-top: auto;

  margin-bottom: 5px;
  padding: 10px;
  a {
    color: black;
    width: 100%;
  }
  &:visited {
    color: $dark-text;
  }

  p{
    width: 100%;
    text-align: center;
  }
}