@import "../_variables";

.input-form {
  max-width: 1200px;
  align-self: stretch;

  button {
    background-color: $submitButton;
    border-radius: 10px;
    min-width: 25px;
    margin: 5px 50% 5px 50%;
    padding: 5px;
  }
  .pizza-option {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5vw;
  }

  .pizza-input {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }

  .input-options {
    padding: 3px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-width: fit-content;
    justify-content: space-between;
    p {
      min-width: 100px;
      padding: 5px;
    }
  }

  form {
    background-color: $inputForm-bg;
    margin: 1em 0em 1em;
    border-radius: 10px;
  }
}
