@import "../_variables";


button {
  background-color: $submitButton;
  border-radius: 10px;
  width: 20%;
  margin: 0em 40% 1em;
}

.pizza-input {
  height: 2em;
}

.input-options {
  align-items: center;
  padding: 0em 2em;
}

form {
  background-color: $inputForm-bg;
  margin: 1em 0em 1em;
  border-radius: 10px;
}
