.all-pizzas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.split-view {
  flex-direction: column;
}
.pizza-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total-values {
  align-self: center;
  background-color: red;
  margin: 5px;
  padding: 5px;
  border: solid maroon 3px;
  max-width: 100%;
  border-radius: 5px;
}
.total-label-and-value {
  display: flex;
  justify-content: space-between;
}
.total-label-and-value > * {
  padding: 5px;
}
