@import "../_variables";

.PizzaCard {
  sup {
    font-size: 50%;
  }

  strong {
    font-size: 105%;
  }
  margin: 5px;
  border: solid #333333 0.1em;
  border-radius: 0.2em;
  max-width: 100%;
  min-width: 23%;
  display: inline-block;
  padding: 10px 25px;
  background-color: whitesmoke;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  &.best-value-pizza {
    background-color: $bestChoice;
    color: whitesmoke;
  }
  .best-value-text {
    font-size: 105%;
    font-weight: bolder;
    background-color: $addComparison;
    color: $primary-colour;
    display: inline-block;
    padding: 5px 10px;
    width: auto;
    align-self: flex-start;
    border-radius: 5px;
  }
  .quantity-buttons {
    button {
      background-color: #ffec64;
      border-radius: 5px;
      border: 1px solid #ffaa22;

      cursor: pointer;
      color: #333333;
      font-family: Arial;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 10px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #ffee66;
      width: max-content;
      margin: 2px;
      text-align: center;
    }
  }
}
