@import "../_variables";

@import "mixins";

.pizza-cards-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  align-items: stretch;
  height: 100%;

  background-color: rgba($color: $dark-bg, $alpha: 0.5);
  margin-bottom: 5px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;

  .all-pizzas {
    display: flex;
    flex-basis: 1;
    flex-grow: 3;

    flex-wrap: wrap;
    justify-content: center;

    &.split-view {
      /* height: 100%; */
      justify-content: flex-start;
      flex-direction: column;
      max-width: 90%;
      align-self: center;
    }
  }

  .total-values {
    align-self: center;
    justify-self: flex-end;
    background-color: $altBackground;
    margin: 5px;
    padding: 5px;
    border: solid maroon 3px;
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    @media screen and (max-width: 450px) {
      height: auto;
    }
  }

  .total-label-and-value {
    display: flex;
    justify-content: space-between;
    span {
      padding: 5px;
    }
    sup {
      font-size: 50%;
    }
  }
}
