@import "../_variables.scss";
@import "mixins";
body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1 {
    @include font-size($h1-font-sizes);
  }

  h2 {
    @include font-size($h2-font-sizes);
  }

  h3 {
    @include font-size($h3-font-sizes);
  }
  p {
    @include font-size($p-font-sizes);
  }
  button {
    @include font-size($button-font-sizes);
  }
}
html {
  overflow-x: hidden;

  width: 100%;

  left: 0;
  top: 0;
  background: url(https://res.cloudinary.com/spwhittaker/image/upload/v1584033879/pizza_ib8xge.jpg)
    no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.upper-level {
  display: flex;
  flex-direction: column;
  height: calc(100% + 60px);
  min-height: calc(100% + 60px);
  align-items: stretch;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
  .App-header {
    background-color: $header;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  #logo {
    width: 78%;
    height: auto;
  }

  .apps {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: auto;
  }

  .side-by-side-comparison {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top-level-options {
    display: flex;
    justify-content: space-around;
  }
  .top-level-button {
    background-color: $addComparison;
    border-radius: 6px;

    cursor: pointer;
    color: #333333;
    font-family: Arial;

    font-weight: bold;
    padding: 10px 5px;
    text-decoration: none;
    width: max-content;
    margin-left: 40%;
    margin-right: 40%;

    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
  }
  .spacer {
    flex-grow: 5;
  }
}

