$font-stack: "Open Sans", sans-serif;
$primary-colour: #fdfffc;
$addComparison: #f71735;
$bestChoice: #1b7317;
$header: #011627;
$submitButton: #ff9f1c;
$altBackground: rgba(192, 37, 37, 0.9);
$inputForm-bg: rgba(197, 197, 197, 0.9);
$p-font-sizes: (
  null: 15px,
  small: 16px,
  medium: 17px,
  900px: 18px,
  large: 19px,
  1440px: 20px
);

$breakpoints: (
  small: 480px,
  medium: 700px,
  // Previously 640px
    large: 1024px
);

$p-font-sizes: (
  null: 15px,
  small: 16px,
  medium: 17px,
  large: 19px
);

$h1-font-sizes: (
  null: 28px,
  small: 31px,
  medium: 33px,
  large: 36px
);
/* * {
  font-size: calc(8px + 2vmin);
} */
