$font-stack: "Open Sans", sans-serif;
$primary-colour: #333;
$addComparison: skyblue;
$bestChoice: #1b7317;
$mainBackground: #bea6a1;
$altBackground: rgba(192, 37, 37, 0.8);


* {
  font-size: calc(8px + 2vmin);
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: $primary-colour;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
}