$font-stack: "Open Sans", sans-serif;
$primary-colour: rgb(253, 255, 252);
$addComparison: #f71735;
$bestChoice: #1b7317;
$header: #011627;
$submitButton: #ff9f1c;
$altBackground: rgba(192, 37, 37, 0.9);
$inputForm-bg: rgba(197, 197, 197, 0.9);

$breakpoints: (
  small: 480px,
  medium: 700px,
  large: 1024px
);

$p-font-sizes: (
  null: 10px,
  small: 12px,
  medium: 15px,
  900px: 17px,
  large: 20px,
  1440px: 21px
);

$h1-font-sizes: (
  null: 16px,
  small: 21px,
  medium: 24px,
  large: 26px
);

$h2-font-sizes: (
  null: 13px,
  small: 18px,
  medium: 20px,
  large: 22px
);
$h3-font-sizes: (
  null: 12px,
  small: 17px,
  medium: 19px,
  large: 20px
);
$button-font-sizes: (
  null: 8px,
  small: 10px,
  medium: 12px,
  900px: 15px,
  large: 17px,
  1440px: 19px
);
/* * {
  font-size: calc(8px + 2vmin);
} */
